In [295]:
import pandas as pd

In [296]:
# pd.Timedelta(days=15)

In [297]:
SPY = pd.read_csv('SPY.csv')
a = pd.read_csv('./XLC.csv')

In [298]:
SPY.head()

         date  Adj Close
0  2021-08-31   450.1037
1  2021-07-30   437.0958
2  2021-06-30   426.6795
3  2021-05-28   417.3016
4  2021-04-30   414.5795

In [299]:
SPY.sort_values(by=['date'], axis=0, inplace=True)

In [300]:
SPY.reset_index(drop=True, inplace=True)

In [301]:
SPY.head()

         date  Adj Close
0  2019-07-31   286.2878
1  2019-08-30   281.4944
2  2019-09-30   286.9776
3  2019-10-31   293.3212
4  2019-11-29   303.9388

In [302]:
a.head()

         Date        XLC    3_month  per3month
0  2019-08-01  48.714306  51.814980   0.063650
1  2019-09-01  48.704468  52.869816   0.085523
2  2019-10-01  49.902477  53.261501   0.067312
3  2019-11-01  51.814980  50.149395  -0.032145
4  2019-12-01  52.869816  43.707829  -0.173293

In [303]:
for i in range(a['Date'].size) :
    SPY['date'][i] = a['Date'][i]

<ipython-input-303-01ba262bbff3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SPY['date'][i] = a['Date'][i]

In [304]:
SPY.head()

         date  Adj Close
0  2019-08-01   286.2878
1  2019-09-01   281.4944
2  2019-10-01   286.9776
3  2019-11-01   293.3212
4  2019-12-01   303.9388

In [305]:
SPY['3_month'] = SPY['Adj Close']
for i in range(SPY['Adj Close'].size-3) :
    SPY['3_month'][i] = SPY['Adj Close'][i + 3]
SPY.drop(SPY.index[-4:], inplace = True)

SPY['per3month'] = (SPY['3_month'] - SPY['Adj Close']) / SPY['Adj Close']

<ipython-input-305-cad2a69aed1b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SPY['3_month'][i] = SPY['Adj Close'][i + 3]

In [306]:
SPY.set_index('date', drop=True, inplace=True)

In [307]:
SPY

            Adj Close   3_month  per3month
date
2019-08-01   286.2878  293.3212   0.024568
2019-09-01   281.4944  303.9388   0.079733
2019-10-01   286.9776  312.7633   0.089853
2019-11-01   293.3212  312.6369   0.065852
2019-12-01   303.9388  287.8868  -0.052813
2020-01-01   312.7633  252.0039  -0.194266
2020-02-01   312.6369  284.0042  -0.091585
2020-03-01   287.8868  297.5357   0.033516
2020-04-01   252.0039  302.8202   0.201649
2020-05-01   284.0042  320.6539   0.129046
2020-06-01   297.5357  343.0345   0.152919
2020-07-01   302.8202  330.2056   0.090435
2020-08-01   320.6539  321.9724   0.004112
2020-09-01   343.0345  356.9955   0.040699
2020-10-01   330.2056  370.2279   0.121204
2020-11-01   321.9724  366.4551   0.138157
2020-12-01   356.9955  376.6446   0.055040
2021-01-01   370.2279  393.7462   0.063524
2021-02-01   366.4551  414.5795   0.131324
2021-03-01   376.6446  417.3016   0.107945
2021-04-01   393.7462  426.6795   0.083641
2021-05-01   414.5795  437.0958   0.054311