In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression

# 상관관계 분석

In [2]:
# 주식 가격
Price = pd.read_csv('stockprice')
Return = pd.read_csv('stockreturn')

# 주식 기사 점수 
Altria = pd.read_csv('scores/ALTRIA.csv')
Coca = pd.read_csv('scores/Coca-cola.csv')
Facebook = pd.read_csv('scores/Facebook.csv')
Nike = pd.read_csv("scores/NIKE.csv")
Walmart = pd.read_csv("scores/Walmart.csv")
Amazon = pd.read_csv("scores/Amazon.csv")
Spotify = pd.read_csv("scores/Spotify.csv")
Microsoft = pd.read_csv("scores/Microsoft.csv")
Pfizer = pd.read_csv("scores/PFIZER.csv")
Tesla = pd.read_csv("scores/TESLA.csv")
AMD = pd.read_csv("scores/AMD.csv")

#SPY
SPY = pd.read_csv('spy_price.csv')

#ETF
ETF = pd.read_csv('ETF.csv')

In [3]:
ETF

,Date,IYK,IXN,IBUY,PBS,PJP,SOXX,RTH,MJ,FTXG,XLC
0,2019-08-01,118.680420,29.956072,49.986225,33.744621,56.699383,200.902039,107.042473,24.727552,20.374716,49.707672
1,2019-08-02,118.285049,29.416929,49.258320,33.507050,56.699383,197.938995,106.382751,25.926413,20.034323,49.225742
2,2019-08-05,115.122025,28.296034,47.742680,32.319206,55.441795,189.392044,103.606018,25.166832,19.791191,47.632423
3,2019-08-06,116.520317,28.717192,48.350929,32.635975,55.687416,191.807480,104.610367,25.844048,19.674484,48.320896
4,2019-08-07,117.600357,28.948254,48.699924,32.418194,55.569523,193.020081,105.575333,26.072836,19.674484,48.379906
...,...,...,...,...,...,...,...,...,...,...,...
521,2021-08-25,185.940002,59.480000,116.480003,53.130001,81.800003,461.769989,180.839996,16.639999,24.670000,84.129997
522,2021-08-26,184.149994,59.209999,115.339996,52.619999,81.029999,462.200012,179.039993,16.350000,24.406000,83.400002
523,2021-08-27,185.639999,59.810001,115.919998,53.750000,81.360001,471.019989,179.380005,16.620001,24.700001,84.720001
524,2021-08-30,186.600006,60.380001,116.620003,53.750000,81.980003,471.959991,180.929993,16.330000,24.459999,85.300003
525,2021-08-31,186.550003,60.130001,115.879997,54.020000,82.169998,468.190002,181.339996,16.709999,24.530001,85.620003

In [4]:
stocks =[Altria, AMD, Coca, Facebook, Nike, Walmart, Tesla, Amazon, Spotify, Pfizer, Microsoft]
for i in stocks: 
    i = i.dropna(inplace=True)

In [5]:
for i in stocks:
    i['sent'] = (i["npos"]-i["nneg"])/i["nwords"]
    #i['date'] = pd.to_datetime(i['date'])

In [6]:
Return = Return.rename({'Date': 'date'}, axis=1)
Return

,date,TSLA,WMT,MO,AMD,MSFT,FB,AMZN,SPOT,PFE,MCD,KO,NKE,SPY,SHV
0,2018-04-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-04,0.072553,0.004839,0.011012,0.023037,0.029205,-0.006470,0.013304,-0.032145,0.012612,0.008292,0.019825,0.025787,0.010699,0.000091
2,2018-04-05,0.065449,0.006765,0.018785,0.025589,0.000542,0.027337,0.029194,-0.001595,-0.011071,0.013727,0.003617,0.017100,0.007892,0.000091
3,2018-04-06,-0.021000,-0.012755,-0.010691,-0.040918,-0.023273,-0.013430,-0.032044,0.027294,-0.015673,-0.016468,-0.010811,-0.029315,-0.022286,0.000000
4,2018-04-09,-0.032208,-0.004729,-0.009397,-0.008325,0.005985,0.004644,0.000605,0.014062,0.008246,-0.000124,-0.002049,-0.005477,0.004928,0.000181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
866,2021-09-09,0.001313,-0.007053,-0.005700,-0.000188,-0.009860,0.001139,-0.011726,-0.014699,-0.010320,-0.000042,-0.009926,0.016365,-0.004280,0.000000
867,2021-09-10,-0.024627,-0.003620,0.000198,-0.008950,-0.005181,0.001825,-0.004308,0.007114,-0.009559,0.002389,-0.004475,0.001531,-0.007885,-0.000091
868,2021-09-13,0.009141,-0.005689,-0.010277,-0.003802,0.004329,-0.005757,-0.003453,-0.014288,-0.022154,0.008487,0.008272,-0.024879,0.002559,0.000000
869,2021-09-14,0.002005,-0.005239,-0.016174,0.008874,0.009428,0.000053,-0.002074,-0.001679,0.002916,-0.000332,0.000713,-0.004764,-0.005397,0.000000
870,2021-09-15,0.015232,0.001733,0.017780,-0.001230,0.016778,-0.006932,0.007475,-0.003855,0.001342,-0.000622,0.003412,-0.005354,0.008353,0.000000

In [7]:
Altria.dropna(inplace=True)

In [8]:
Altria['date'] = pd.to_datetime(Altria['date'])
Return['date'] = pd.to_datetime(Return['date'])

In [9]:
#AltriaC = pd.concat(Altria, Return, on =Return.date)

AltriaC = pd.merge(Altria, Return,
                        how="left", on=['date'])
AltriaC.head()

,Unnamed: 0,nwords,npos,nneg,date,sent,TSLA,WMT,MO,AMD,MSFT,FB,AMZN,SPOT,PFE,MCD,KO,NKE,SPY,SHV
0,0,541,9,21,2019-07-05,-0.022181,-0.007663,-0.003027,-0.008335,0.009939,-0.002910,-0.004057,0.002017,0.003085,-0.010811,-0.007377,0.000192,0.007193,-0.001138,-0.000271
1,1,615,9,20,2019-08-28,-0.017886,0.007053,0.002669,0.013260,0.019205,-0.001326,0.002537,0.001374,-0.009038,0.021549,0.009350,0.007127,0.017676,0.007042,0.000000
2,2,450,6,16,2019-09-14,-0.022222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,538,10,22,2019-10-18,-0.022305,-0.019162,-0.005841,0.001129,-0.005459,-0.016322,-0.023846,-0.016767,-0.021217,0.000000,0.007977,0.018405,0.005651,-0.004377,0.000000
4,7,493,10,9,2020-02-13,0.002028,0.047844,0.013725,0.005507,0.011876,-0.005414,0.011292,-0.004690,-0.037939,-0.021463,-0.000184,0.003366,0.003592,-0.001067,0.000181

In [10]:
AltriaC.dropna(inplace=True)

In [11]:
stats.pearsonr(AltriaC['sent'], AltriaC['MO'])

(-0.0938133606989417, 0.6095588389494904)

## By Month

In [20]:
Altria ['month'] = Altria['date'].dt.strftime('%Y-%m')
Altria.head()

   Unnamed: 0  nwords  npos  nneg       date      sent    month
0           0     541     9    21 2019-07-05 -0.022181  2019-07
1           1     615     9    20 2019-08-28 -0.017886  2019-08
2           2     450     6    16 2019-09-14 -0.022222  2019-09
3           3     538    10    22 2019-10-18 -0.022305  2019-10
7           7     493    10     9 2020-02-13  0.002028  2020-02

In [36]:
Altria_ByM = Altria.groupby(['month'], as_index=True).mean()
Altria_ByM.head()

         Unnamed: 0  nwords  npos  nneg      sent
month
2019-07         0.0   541.0   9.0  21.0 -0.022181
2019-08         1.0   615.0   9.0  20.0 -0.017886
2019-09         2.0   450.0   6.0  16.0 -0.022222
2019-10         3.0   538.0  10.0  22.0 -0.022305
2020-02         7.0   493.0  10.0   9.0  0.002028

In [34]:
#Return ['month'] = Return['date'].dt.strftime('%Y-%m')
#Return_ByM = Return.groupby(['month'], as_index=True).mean()

In [44]:
#AltriaBM = pd.merge(Altria_ByM, Return_ByM,
                       # how="left", on=['month'])

In [46]:
#stats.pearsonr(AltriaBM['sent'], AltriaBM['MO'])

(-0.3101754478720545, 0.2256503771443203)

In [47]:
Return

,date,TSLA,WMT,MO,AMD,MSFT,FB,AMZN,SPOT,PFE,MCD,KO,NKE,SPY,SHV,month
0,2018-04-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-04
1,2018-04-04,0.072553,0.004839,0.011012,0.023037,0.029205,-0.006470,0.013304,-0.032145,0.012612,0.008292,0.019825,0.025787,0.010699,0.000091,2018-04
2,2018-04-05,0.065449,0.006765,0.018785,0.025589,0.000542,0.027337,0.029194,-0.001595,-0.011071,0.013727,0.003617,0.017100,0.007892,0.000091,2018-04
3,2018-04-06,-0.021000,-0.012755,-0.010691,-0.040918,-0.023273,-0.013430,-0.032044,0.027294,-0.015673,-0.016468,-0.010811,-0.029315,-0.022286,0.000000,2018-04
4,2018-04-09,-0.032208,-0.004729,-0.009397,-0.008325,0.005985,0.004644,0.000605,0.014062,0.008246,-0.000124,-0.002049,-0.005477,0.004928,0.000181,2018-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
866,2021-09-09,0.001313,-0.007053,-0.005700,-0.000188,-0.009860,0.001139,-0.011726,-0.014699,-0.010320,-0.000042,-0.009926,0.016365,-0.004280,0.000000,2021-09
867,2021-09-10,-0.024627,-0.003620,0.000198,-0.008950,-0.005181,0.001825,-0.004308,0.007114,-0.009559,0.002389,-0.004475,0.001531,-0.007885,-0.000091,2021-09
868,2021-09-13,0.009141,-0.005689,-0.010277,-0.003802,0.004329,-0.005757,-0.003453,-0.014288,-0.022154,0.008487,0.008272,-0.024879,0.002559,0.000000,2021-09
869,2021-09-14,0.002005,-0.005239,-0.016174,0.008874,0.009428,0.000053,-0.002074,-0.001679,0.002916,-0.000332,0.000713,-0.004764,-0.005397,0.000000,2021-09
870,2021-09-15,0.015232,0.001733,0.017780,-0.001230,0.016778,-0.006932,0.007475,-0.003855,0.001342,-0.000622,0.003412,-0.005354,0.008353,0.000000,2021-09