In [112]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# import pandas_datareader as pdr

In [113]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [114]:
df_ex = pd.read_csv('환율통계.csv')
df_ex

,년월,2017년 01월,2017년 02월,2017년 03월,2017년 04월,2017년 05월,2017년 06월,2017년 07월,2017년 08월,2017년 09월,...,2020년 03월,2020년 04월,2020년 05월,2020년 06월,2020년 07월,2020년 08월,2020년 09월,2020년 10월,2020년 11월,2020년 12월
0,환율,1157.8,1132.1,1116.1,1130.1,1123.9,1139.6,1119.1,1122.8,1146.7,...,1222.6,1225.2,1239.4,1200.7,1191.4,1185.1,1173.5,1133.4,1104.4,1088

In [115]:
df_loan = pd.read_csv('대출통계.csv')
df_loan

,년월,2017년 01월,2017년 02월,2017년 03월,2017년 04월,2017년 05월,2017년 06월,2017년 07월,2017년 08월,2017년 09월,...,2020년 03월,2020년 04월,2020년 05월,2020년 06월,2020년 07월,2020년 08월,2020년 09월,2020년 10월,2020년 11월,2020년 12월
0,서울시 대출량(단위: 십억원),908985,912946.4,917092.7,922033.7,929148.3,935349.8,941743.1,949144.2,954593.1,...,1094531.8,1099520.7,1103055,1109118.1,1116049.9,1128096.9,1138181,1149710.3,1166027.4,1173695.4

In [127]:
df_kospi = pd.read_csv('연도별코스피.csv')
df_kospi.rename(columns = {'년도': '년월'}, inplace = True)

In [128]:
df_apt = pd.read_csv('부동산월별가격.csv')
df_apt.rename(columns = {'계약날짜': '년월'}, inplace = True)
df_apt

,년월,2017년 01월,2017년 02월,2017년 03월,2017년 04월,2017년 05월,2017년 06월,2017년 07월,2017년 08월,2017년 09월,...,2020년 03월,2020년 04월,2020년 05월,2020년 06월,2020년 07월,2020년 08월,2020년 09월,2020년 10월,2020년 11월,2020년 12월
0,거래금액(만원)/전용면적(㎡),693.758417,707.802216,715.644826,748.518192,782.537756,724.001342,769.445083,711.428585,798.817388,...,915.427289,952.124611,1043.504344,1118.211133,1120.794329,1213.283629,1211.827054,1191.643351,1281.300613,1347.60955

In [140]:
df5 = pd.read_csv('가계대출.csv')
df6 = pd.read_csv('월별금리.csv')
df7 = pd.read_csv('주택대출.csv')
df7

,년월,2017년 01월,2017년 02월,2017년 03월,2017년 04월,2017년 05월,2017년 06월,2017년 07월,2017년 08월,2017년 09월,...,2020년 03월,2020년 04월,2020년 05월,2020년 06월,2020년 07월,2020년 08월,2020년 09월,2020년 10월,2020년 11월,2020년 12월
0,주택대출(10억원),167698.8,167852,168377.3,169036.1,169838.4,171044.5,172570.4,174607.2,174828.7,...,198287.6,200025,201328.2,202582.3,203613,205553.4,208142.8,210849.5,212534.2,214865.7

In [130]:
df_eco = pd.concat([df_ex,df_kospi,df6,df5,df7,df_apt],ignore_index=True) ## 각각의 데이터 concat
df_eco

,년월,2017년 01월,2017년 02월,2017년 03월,2017년 04월,2017년 05월,2017년 06월,2017년 07월,2017년 08월,2017년 09월,...,2020년 03월,2020년 04월,2020년 05월,2020년 06월,2020년 07월,2020년 08월,2020년 09월,2020년 10월,2020년 11월,2020년 12월
0,환율,1157.800000,1132.100000,1116.100000,1130.100000,1123.900000,1139.600000,1119.100000,1122.800000,1146.700000,...,1222.600000,1225.200000,1239.400000,1200.700000,1191.400000,1185.100000,1173.500000,1133.400000,1104.400000,1088.00000
1,코스피지수,2061.730000,2082.800000,2136.170000,2160.180000,2301.890000,2372.200000,2412.900000,2372.180000,2371.840000,...,1786.750000,1849.590000,1965.170000,2134.700000,2195.950000,2349.870000,2371.520000,2357.820000,2504.180000,2755.77000
2,기준금리,1.250000,1.250000,1.250000,1.250000,1.250000,1.250000,1.250000,1.250000,1.250000,...,0.750000,0.750000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.50000
3,서울시 가계대출량(10억원),262293.200000,262727.200000,263208.100000,264498.400000,266384.900000,268358.500000,271009.200000,274899.900000,276197.300000,...,330397.800000,332221.800000,334236.200000,336897.100000,340297.200000,345570.000000,350203.900000,355160.800000,361190.400000,363817.00000
4,주택대출(10억원),167698.800000,167852.000000,168377.300000,169036.100000,169838.400000,171044.500000,172570.400000,174607.200000,174828.700000,...,198287.600000,200025.000000,201328.200000,202582.300000,203613.000000,205553.400000,208142.800000,210849.500000,212534.200000,214865.70000
5,거래금액(만원)/전용면적(㎡),693.758417,707.802216,715.644826,748.518192,782.537756,724.001342,769.445083,711.428585,798.817388,...,915.427289,952.124611,1043.504344,1118.211133,1120.794329,1213.283629,1211.827054,1191.643351,1281.300613,1347.60955

In [141]:
dfEco = df_eco.transpose()	#행 열 전환
dfEco.rename(columns=dfEco.iloc[0], inplace=True)	# 행열이 전환된 데이터프레임의 열 이름 제대로 수정
dfEco = dfEco.drop(dfEco.index[0])
dfEco.rename(columns = {'서울시 가계대출량(10억원)': '가계대출(10억원)'}, inplace = True)
dfEco

               환율    코스피지수  기준금리 가계대출(10억원) 주택대출(10억원) 거래금액(만원)/전용면적(㎡)
2017년 01월  1157.8  2061.73  1.25   262293.2   167698.8       693.758417
2017년 02월  1132.1   2082.8  1.25   262727.2   167852.0       707.802216
2017년 03월  1116.1  2136.17  1.25   263208.1   168377.3       715.644826
2017년 04월  1130.1  2160.18  1.25   264498.4   169036.1       748.518192
2017년 05월  1123.9  2301.89  1.25   266384.9   169838.4       782.537756
2017년 06월  1139.6   2372.2  1.25   268358.5   171044.5       724.001342
2017년 07월  1119.1   2412.9  1.25   271009.2   172570.4       769.445083
2017년 08월  1122.8  2372.18  1.25   274899.9   174607.2       711.428585
2017년 09월  1146.7  2371.84  1.25   276197.3   174828.7       798.817388
2017년 10월  1125.0  2482.87  1.25   278568.7   175427.9       805.141879
2017년 11월  1082.4  2533.51   1.5   281452.2   176351.5       867.701066
2017년 12월  1071.4  2467.73   1.5   282438.7   176991.0       869.073206
2018년 01월  1071.5  2520.94   1.5   283669.8   177280.4       852.312235
2018년 02월  1071.0   2439.1   1.5   284094.8   177150.8        771.67982
2018년 03월  1066.5  2451.57   1.5   285382.6   177624.2       747.100187
2018년 04월  1076.2  2458.22   1.5   287303.5   178078.0       750.340782
2018년 05월  1081.3   2461.3   1.5   288940.0   178762.9       753.954233
2018년 06월  1121.7  2394.51   1.5   289868.6   178960.1       761.402798
2018년 07월  1116.7  2284.25   1.5   291201.8   179277.6       871.844018
2018년 08월  1108.8   2283.8   1.5   293203.6   179981.4       887.167836
2018년 09월  1112.7  2307.33   1.5   295266.1   181251.5        872.43037
2018년 10월  1140.6  2153.48   1.5   298189.6   181938.7       830.825023
2018년 11월  1121.8  2083.33  1.75   300850.4   183394.7       829.140996
2018년 12월  1118.1  2070.13  1.75   301803.2   183858.0       809.203365
2019년 01월  1117.2  2101.98  1.75   301208.6   183577.9       831.876131
2019년 02월  1117.8   2210.2  1.75   301725.2   183974.3       852.735344
2019년 03월  1137.8  2161.91  1.75   302256.6   184496.7       900.795835
2019년 04월  1158.2  2212.12  1.75   304106.8   185582.2       979.418661
2019년 05월  1190.0   2086.9  1.75   306218.9   186359.3      1068.911706
2019년 06월  1156.8   2086.9  1.75   307850.9   186961.8       1098.07501
2019년 07월  1182.0  2079.48   1.5   310648.3   187995.3      1081.015033
2019년 08월  1215.2  1944.24   1.5   314138.1   189603.0      1024.551054
2019년 09월  1201.3  2045.21   1.5   315819.7   190097.9      1077.464867
2019년 10월  1168.4  2065.75  1.25   318900.5   192231.8      1064.995904
2019년 11월  1179.3  2128.79  1.25   321228.2   193327.0      1062.735321
2019년 12월  1157.8  2147.01  1.25   323097.2   194201.6      1008.802061
2020년 01월  1183.5  2203.44  1.25   323866.6   195176.2       904.365578
2020년 02월  1215.9  2167.12  1.25   326252.6   196654.8       939.091306
2020년 03월  1222.6  1786.75  0.75   330397.8   198287.6       915.427289
2020년 04월  1225.2  1849.59  0.75   332221.8   200025.0       952.124611
2020년 05월  1239.4  1965.17   0.5   334236.2   201328.2      1043.504344
2020년 06월  1200.7   2134.7   0.5   336897.1   202582.3      1118.211133
2020년 07월  1191.4  2195.95   0.5   340297.2   203613.0      1120.794329
2020년 08월  1185.1  2349.87   0.5   345570.0   205553.4      1213.283629
2020년 09월  1173.5  2371.52   0.5   350203.9   208142.8      1211.827054
2020년 10월  1133.4  2357.82   0.5   355160.8   210849.5      1191.643351
2020년 11월  1104.4  2504.18   0.5   361190.4   212534.2      1281.300613
2020년 12월  1088.0  2755.77   0.5   363817.0   214865.7       1347.60955

In [139]:
dfEco.to_csv(r'/Users/sewoongmoon/Downloads/경제지표정리&부동산데이터.csv', index = True, header = True)