In [89]:
import pandas as pd

In [90]:
# pd.Timedelta(days=15)

In [91]:
SPY = pd.read_csv('SPY.csv')
a = pd.read_csv('./XLC.csv')

In [92]:
SPY

          Date         SPY
0   2019-07-01  286.411530
1   2019-08-01  281.616058
2   2019-09-01  285.776001
3   2019-10-01  293.441864
4   2019-11-01  304.063965
5   2019-12-01  311.367828
6   2020-01-01  312.772308
7   2020-02-01  288.011475
8   2020-03-01  250.573654
9   2020-04-01  284.052979
10  2020-05-01  297.586670
11  2020-06-01  301.537323
12  2020-07-01  320.700531
13  2020-08-01  343.084412
14  2020-09-01  328.921417
15  2020-10-01  322.004089
16  2020-11-01  357.030640
17  2020-12-01  368.686462
18  2021-01-01  366.484985
19  2021-02-01  376.675262
20  2021-03-01  392.490570
21  2021-04-01  414.610931
22  2021-05-01  417.333313
23  2021-06-01  425.301605
24  2021-07-01  437.109650
25  2021-08-01  450.117981
26  2021-09-01  432.245239

In [93]:
a

          Date        XLC    3_month  per3month
0   2019-08-01  49.858418  49.817242  -0.000826
1   2019-09-01  48.631104  51.726479   0.063650
2   2019-10-01  48.621288  52.779514   0.085523
3   2019-11-01  49.817242  53.170528   0.067312
4   2019-12-01  51.726479  50.063744  -0.032145
5   2020-01-01  52.779514  43.633179  -0.173293
6   2020-02-01  53.170528  49.730042  -0.064707
7   2020-03-01  50.063744  53.429138   0.067222
8   2020-04-01  43.633179  53.448917   0.224960
9   2020-05-01  49.730042  57.610355   0.158462
10  2020-06-01  53.429138  62.694492   0.173414
11  2020-07-01  53.448917  58.868999   0.101407
12  2020-08-01  57.610355  58.794903   0.020561
13  2020-09-01  62.694492  64.952477   0.036016
14  2020-10-01  58.868999  67.018250   0.138430
15  2020-11-01  58.794903  66.528427   0.131534
16  2020-12-01  64.952477  71.193771   0.096090
17  2021-01-01  67.018250  72.934578   0.088279
18  2021-02-01  66.528427  77.776886   0.169077
19  2021-03-01  71.193771  78.514297   0.102825
20  2021-04-01  72.934578  80.686661   0.106288
21  2021-05-01  77.776886  82.259262   0.057631
22  2021-06-01  78.514297  85.473763   0.088639

In [94]:
# SPY.sort_values(by=['date'], axis=0, inplace=True)

In [95]:
SPY.reset_index(drop=True, inplace=True)

In [96]:
SPY.tail()

          Date         SPY
22  2021-05-01  417.333313
23  2021-06-01  425.301605
24  2021-07-01  437.109650
25  2021-08-01  450.117981
26  2021-09-01  432.245239

In [97]:
a.tail()

          Date        XLC    3_month  per3month
18  2021-02-01  66.528427  77.776886   0.169077
19  2021-03-01  71.193771  78.514297   0.102825
20  2021-04-01  72.934578  80.686661   0.106288
21  2021-05-01  77.776886  82.259262   0.057631
22  2021-06-01  78.514297  85.473763   0.088639

In [99]:
for i in range(a['Date'].size) :
    SPY['Date'][i] = a['Date'][i]

<ipython-input-99-7dc7790f142c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SPY['Date'][i] = a['Date'][i]

In [100]:
SPY

          Date         SPY
0   2019-08-01  286.411530
1   2019-09-01  281.616058
2   2019-10-01  285.776001
3   2019-11-01  293.441864
4   2019-12-01  304.063965
5   2020-01-01  311.367828
6   2020-02-01  312.772308
7   2020-03-01  288.011475
8   2020-04-01  250.573654
9   2020-05-01  284.052979
10  2020-06-01  297.586670
11  2020-07-01  301.537323
12  2020-08-01  320.700531
13  2020-09-01  343.084412
14  2020-10-01  328.921417
15  2020-11-01  322.004089
16  2020-12-01  357.030640
17  2021-01-01  368.686462
18  2021-02-01  366.484985
19  2021-03-01  376.675262
20  2021-04-01  392.490570
21  2021-05-01  414.610931
22  2021-06-01  417.333313
23  2021-06-01  425.301605
24  2021-07-01  437.109650
25  2021-08-01  450.117981
26  2021-09-01  432.245239

In [101]:
SPY['3_month'] = SPY['Adj Close']
for i in range(SPY['Adj Close'].size-3) :
    SPY['3_month'][i] = SPY['Adj Close'][i + 3]
SPY.drop(SPY.index[-3:], inplace = True)

SPY['per3month'] = (SPY['3_month'] - SPY['Adj Close']) / SPY['Adj Close']

KeyError: 'Adj Close'

In [ ]:
SPY.set_index('date', drop=True, inplace=True)

In [ ]:
SPY