In [2]:
# import packages
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
%matplotlib inline

In [3]:
import quandl
quandl.ApiConfig.api_key = 'zbUxxzuDxrACyfheY6o9'

In [4]:
stocks = ['TSLA', 'WMT', 'MO', 'AMD', 'MSFT', 'FB', 'AMZN', 'SPOT', 'PFE', 'MCD','KO','NKE']
benchmarks = ['SPY', 'SHV']  # US stock
data = {}  # set up the dictionary 
for s in stocks + benchmarks:
    data[s] = quandl.get("EOD/"+s, collapse='monthly',start_date="2019-07-01", end_date="2021-08-31")

In [5]:
prc = pd.DataFrame()  
vol = pd.DataFrame()  
for s in stocks + benchmarks:
    tmp = data[s][['Adj_Close']]  
    tmp.columns = [s]  # renaming the column with TICKER name
    prc = pd.concat([prc, tmp], axis=1)
    #prc = prc[prc.index.weekday < 5]

In [6]:
# Step 1: drop rows that have at least one missing price
#prc = prc.dropna()

In [7]:
prc

,TSLA,WMT,MO,AMD,MSFT,FB,AMZN,SPOT,PFE,MCD,KO,NKE,SPY,SHV
Date,,,,,,,,,,,,,,
2019-07-31,48.322,106.284576,39.441812,30.45,133.510274,194.23,1866.78,154.94,33.678730,199.697440,48.998331,84.300350,287.214163,108.884837
2019-08-31,45.122,110.557946,36.651473,31.45,135.068074,185.67,1776.29,134.95,31.116050,207.667521,51.242032,83.016688,282.407818,109.131303
2019-09-30,48.174,114.834736,34.956997,28.99,136.214379,178.08,1735.91,114.00,31.448654,204.561607,51.057068,92.271330,287.906165,109.091855
2019-10-31,62.984,113.460745,38.281757,33.93,140.466486,191.65,1776.66,144.30,33.584327,187.402860,51.047690,87.978041,294.270233,109.382258
2019-11-30,65.988,115.231452,42.478306,39.15,148.819817,201.64,1800.80,142.55,34.044462,186.478707,50.456838,92.089577,304.922285,109.457561
2019-12-31,83.666,115.503158,43.370452,45.86,155.032932,205.25,1847.84,149.55,34.627778,189.479933,52.299363,99.792438,313.775258,109.645007
2020-01-31,130.114,111.275299,41.302296,47.00,167.351021,201.91,2008.72,141.30,33.250571,205.166850,55.181261,94.857485,313.648524,109.813753
2020-02-29,133.598,104.656514,35.080448,45.48,159.703763,192.47,1883.75,137.12,29.839798,187.380034,50.541878,88.282473,288.818300,110.053442
2020-03-31,104.800,110.928950,34.474926,45.48,155.464974,166.80,1949.72,121.44,29.143357,159.567846,42.164818,81.724007,252.819257,110.511714
2020-04-30,156.376,118.671130,34.992005,52.39,176.658918,204.71,2474.00,151.57,34.250588,181.001180,43.727536,86.109487,284.923134,110.535506
2020-05-31,167.000,121.658278,34.813702,53.80,181.137622,225.09,2442.37,180.93,34.449383,181.010831,44.480310,97.611494,298.498376,110.506762
2020-06-30,215.962,117.461136,35.743175,52.61,201.164079,227.07,2758.82,258.19,29.497115,179.213546,42.957353,97.086701,303.799940,110.527748
2020-07-31,286.152,126.894899,37.473418,77.43,202.646788,253.67,3164.68,257.82,35.051457,188.744011,45.418651,96.651024,321.691388,110.527748
2020-08-31,498.320,136.719613,39.832012,90.82,223.472425,293.20,3450.96,282.16,34.422936,208.650151,47.620360,111.032458,344.144367,110.523611
2020-09-30,429.010,137.763349,35.891429,81.99,208.411099,261.90,3148.73,242.57,33.430054,214.483990,47.850304,124.577842,331.273926,110.517764
2020-10-31,388.040,136.621147,33.513529,75.29,200.622808,263.11,3036.15,239.89,32.318755,208.142011,46.580629,119.159689,323.014088,110.530642
2020-11-30,567.600,150.445730,36.996781,92.66,212.679729,276.97,3168.04,291.37,37.185493,213.741324,50.409041,133.667639,358.150550,110.507902
2020-12-31,705.670,142.459559,38.868596,91.71,220.975500,273.16,3256.93,314.66,35.729523,210.929973,53.574259,140.667158,371.425757,110.530000
2021-01-31,793.530,138.842479,38.944437,85.64,230.453543,258.33,3206.20,315.00,35.225208,204.304621,47.038669,132.831877,367.640767,110.520000
2021-02-28,675.500,128.396433,41.333434,84.51,231.400249,257.62,3092.93,307.38,32.860508,203.901595,47.859281,134.288563,377.863221,110.520000
2021-03-31,667.930,134.805010,49.342887,78.50,234.775956,294.53,3094.08,267.95,35.549006,221.706139,51.922874,132.405455,395.020118,110.510000
2021-04-30,709.440,138.854221,46.054004,81.62,251.116769,325.08,3467.42,252.12,37.923518,233.516486,53.173909,132.136439,415.920811,110.510000
2021-05-31,625.220,141.507866,47.471792,80.08,249.199995,328.73,3223.07,241.57,38.380192,232.626259,54.464346,136.236435,418.651756,110.510000
2021-06-30,679.700,140.501579,46.809044,93.93,270.379199,347.71,3440.16,275.59,38.806308,229.741928,53.704971,154.236896,428.060000,110.490000
2021-07-31,687.200,142.025954,47.162468,106.19,284.362265,356.30,3327.59,228.67,42.810000,241.398604,56.603114,167.235565,438.510000,110.490000
2021-08-31,735.720,148.100000,49.312464,110.72,301.880000,379.38,3470.79,234.34,46.070000,237.460000,55.888503,164.740000,451.560000,110.470000

In [8]:
prc.index= pd.to_datetime(prc.index)

In [9]:
TSLA = prc[['TSLA']]
TSLA.head()

              TSLA
Date
2019-07-31  48.322
2019-08-31  45.122
2019-09-30  48.174
2019-10-31  62.984
2019-11-30  65.988

In [10]:
TSLA['1_month'] = TSLA['TSLA'].shift()
TSLA['2_month'] = TSLA['1_month'].shift()
TSLA['3_month'] = TSLA['2_month'].shift()

<ipython-input-10-8e5c7c10a2b2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TSLA['1_month'] = TSLA['TSLA'].shift()
<ipython-input-10-8e5c7c10a2b2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TSLA['2_month'] = TSLA['1_month'].shift()
<ipython-input-10-8e5c7c10a2b2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TSLA['3_month'] = TSLA['2_month'].shift()

In [11]:
TSLA.head()

              TSLA  1_month  2_month  3_month
Date
2019-07-31  48.322      NaN      NaN      NaN
2019-08-31  45.122   48.322      NaN      NaN
2019-09-30  48.174   45.122   48.322      NaN
2019-10-31  62.984   48.174   45.122   48.322
2019-11-30  65.988   62.984   48.174   45.122

In [12]:
TSLA_new = TSLA[['TSLA','3_month']]
TSLA_new.head()

              TSLA  3_month
Date
2019-07-31  48.322      NaN
2019-08-31  45.122      NaN
2019-09-30  48.174      NaN
2019-10-31  62.984   48.322
2019-11-30  65.988   45.122

In [13]:
TSLA_new['3Mreturn'] = (TSLA_new['TSLA'] - TSLA_new['3_month'])/TSLA_new['3_month']
TSLA_new

<ipython-input-13-c4ac15e93440>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TSLA_new['3Mreturn'] = (TSLA_new['TSLA'] - TSLA_new['3_month'])/TSLA_new['3_month']

               TSLA  3_month  3Mreturn
Date
2019-07-31   48.322      NaN       NaN
2019-08-31   45.122      NaN       NaN
2019-09-30   48.174      NaN       NaN
2019-10-31   62.984   48.322  0.303423
2019-11-30   65.988   45.122  0.462435
2019-12-31   83.666   48.174  0.736746
2020-01-31  130.114   62.984  1.065826
2020-02-29  133.598   65.988  1.024580
2020-03-31  104.800   83.666  0.252600
2020-04-30  156.376  130.114  0.201838
2020-05-31  167.000  133.598  0.250019
2020-06-30  215.962  104.800  1.060706
2020-07-31  286.152  156.376  0.829897
2020-08-31  498.320  167.000  1.983952
2020-09-30  429.010  215.962  0.986507
2020-10-31  388.040  286.152  0.356063
2020-11-30  567.600  498.320  0.139027
2020-12-31  705.670  429.010  0.644880
2021-01-31  793.530  388.040  1.044970
2021-02-28  675.500  567.600  0.190099
2021-03-31  667.930  705.670 -0.053481
2021-04-30  709.440  793.530 -0.105970
2021-05-31  625.220  675.500 -0.074434
2021-06-30  679.700  667.930  0.017622
2021-07-31  687.200  709.440 -0.031349
2021-08-31  735.720  625.220  0.176738

In [14]:
df = pd.DataFrame(index=pd.date_range(start = dt.datetime(2019,8,1), end = dt.datetime(2021,8,31), freq='M'))
df

Empty DataFrame
Columns: []
Index: [2019-08-31 00:00:00, 2019-09-30 00:00:00, 2019-10-31 00:00:00, 2019-11-30 00:00:00, 2019-12-31 00:00:00, 2020-01-31 00:00:00, 2020-02-29 00:00:00, 2020-03-31 00:00:00, 2020-04-30 00:00:00, 2020-05-31 00:00:00, 2020-06-30 00:00:00, 2020-07-31 00:00:00, 2020-08-31 00:00:00, 2020-09-30 00:00:00, 2020-10-31 00:00:00, 2020-11-30 00:00:00, 2020-12-31 00:00:00, 2021-01-31 00:00:00, 2021-02-28 00:00:00, 2021-03-31 00:00:00, 2021-04-30 00:00:00, 2021-05-31 00:00:00, 2021-06-30 00:00:00, 2021-07-31 00:00:00, 2021-08-31 00:00:00]

In [15]:
ThreeM= TSLA_new[['3Mreturn']].dropna()
ThreeM

            3Mreturn
Date
2019-10-31  0.303423
2019-11-30  0.462435
2019-12-31  0.736746
2020-01-31  1.065826
2020-02-29  1.024580
2020-03-31  0.252600
2020-04-30  0.201838
2020-05-31  0.250019
2020-06-30  1.060706
2020-07-31  0.829897
2020-08-31  1.983952
2020-09-30  0.986507
2020-10-31  0.356063
2020-11-30  0.139027
2020-12-31  0.644880
2021-01-31  1.044970
2021-02-28  0.190099
2021-03-31 -0.053481
2021-04-30 -0.105970
2021-05-31 -0.074434
2021-06-30  0.017622
2021-07-31 -0.031349
2021-08-31  0.176738