In [7]:
##데이터 출처 https://www.r-one.co.kr/rone/resis/statistics/statisticsViewer.do?menuId=SNI_72100.

In [8]:
import pandas as pd
df = pd.read_excel('주택대출.xlsx')
print(df.head(15))

      * 통계표명 :                   주택대출 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
0     * 수록기간 :  2007년 12월 ~ 2021년 05월        NaN        NaN        NaN
1     * 조회기간 :  2017년 01월 ~ 2020년 12월        NaN        NaN        NaN
2       * 출처 :                   한국은행        NaN        NaN        NaN
3   * 자료다운일자 :    2021.08.18 14:48:01        NaN        NaN        NaN
4       * 단위 :                    십억원        NaN        NaN        NaN
5          NaN                    NaN        NaN        NaN        NaN
6          NaN                    NaN        NaN        NaN        NaN
7          NaN                    NaN        NaN        NaN        NaN
8          NaN                    NaN        NaN        NaN        NaN
9          지 역              2017년 01월  2017년 02월  2017년 03월  2017년 04월
10          전국               545880.7     547746   550692.5   553204.1
11          서울               167698.8     167852   168377.3   169036.1
12          부산                37867.1    38336.9    38584.3    38769.2
13          대구                25711.3    25783.5    25843.4    25984.1
14          인천                34528.8    34690.9    34972.9    35210.9

   Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 39  \
0         NaN        NaN        NaN        NaN        NaN  ...         NaN
1         NaN        NaN        NaN        NaN        NaN  ...         NaN
2         NaN        NaN        NaN        NaN        NaN  ...         NaN
3         NaN        NaN        NaN        NaN        NaN  ...         NaN
4         NaN        NaN        NaN        NaN        NaN  ...         NaN
5         NaN        NaN        NaN        NaN        NaN  ...         NaN
6         NaN        NaN        NaN        NaN        NaN  ...         NaN
7         NaN        NaN        NaN        NaN        NaN  ...         NaN
8         NaN        NaN        NaN        NaN        NaN  ...         NaN
9   2017년 05월  2017년 06월  2017년 07월  2017년 08월  2017년 09월  ...   2020년 03월
10   556528.9   560141.5   563446.4   566589.7   570079.2  ...    639598.1
11   169838.4   171044.5   172570.4   174607.2   174828.7  ...    198287.6
12    39157.4    39536.2    39877.4      40166    40344.3  ...     46374.5
13      26061    25978.4    26019.3    25912.8      25924  ...     28429.1
14      35638    35784.7      36190    36385.6    36967.8  ...     41436.7

   Unnamed: 40 Unnamed: 41 Unnamed: 42 Unnamed: 43 Unnamed: 44 Unnamed: 45  \
0          NaN         NaN         NaN         NaN         NaN         NaN
1          NaN         NaN         NaN         NaN         NaN         NaN
2          NaN         NaN         NaN         NaN         NaN         NaN
3          NaN         NaN         NaN         NaN         NaN         NaN
4          NaN         NaN         NaN         NaN         NaN         NaN
5          NaN         NaN         NaN         NaN         NaN         NaN
6          NaN         NaN         NaN         NaN         NaN         NaN
7          NaN         NaN         NaN         NaN         NaN         NaN
8          NaN         NaN         NaN         NaN         NaN         NaN
9    2020년 04월   2020년 05월   2020년 06월   2020년 07월   2020년 08월   2020년 09월
10      644393    646587.4    648637.7    650528.7    655593.2    661496.1
11      200025    201328.2    202582.3      203613    205553.4    208142.8
12     46506.4     46362.4     46556.2     46843.2     47355.8     48123.6
13     28633.5     28724.6     29016.9     29009.9     29132.3     29399.2
14     41738.6     41995.7     42001.7     42132.2     42790.1     43039.7

   Unnamed: 46 Unnamed: 47 Unnamed: 48
0          NaN         NaN         NaN
1          NaN         NaN         NaN
2          NaN         NaN         NaN
3          NaN         NaN         NaN
4          NaN         NaN         NaN
5          NaN         NaN         NaN
6          NaN         NaN         NaN
7          NaN         NaN         NaN
8          NaN         NaN         NaN
9    2020년 10월   2020년 11월   2020년 12월
10    667676.3    673694.6    679641.6
11    210849.5    212534.2    214865.7
12     48657.7     49578.3     50243.1
13     29733.6     30355.7     30514.7
14     43335.4     43690.7     44009.7

[15 rows x 49 columns]

In [9]:
df1 = df.iloc[9:12, 1:] # 필요없는 행과 열 슬라이싱
df2 = df1.drop(10)      # 10번행('전국') 삭제
df2.rename(index = {9: '년월', 11: '주택대출(10억원)'} , inplace = True) # 인덱스 이름 변경
df2.to_csv(r'./fin_data/주택대출.csv', index = True, header = False)  # 데이터 저장

,* 통계표명 :,주택대출,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48
0,* 수록기간 :,2007년 12월 ~ 2021년 05월,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,* 조회기간 :,2017년 01월 ~ 2020년 12월,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,* 출처 :,한국은행,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,* 자료다운일자 :,2021.08.18 14:48:01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,* 단위 :,십억원,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,지 역,2017년 01월,2017년 02월,2017년 03월,2017년 04월,2017년 05월,2017년 06월,2017년 07월,2017년 08월,2017년 09월,...,2020년 03월,2020년 04월,2020년 05월,2020년 06월,2020년 07월,2020년 08월,2020년 09월,2020년 10월,2020년 11월,2020년 12월
10,전국,545880.7,547746,550692.5,553204.1,556528.9,560141.5,563446.4,566589.7,570079.2,...,639598.1,644393,646587.4,648637.7,650528.7,655593.2,661496.1,667676.3,673694.6,679641.6
11,서울,167698.8,167852,168377.3,169036.1,169838.4,171044.5,172570.4,174607.2,174828.7,...,198287.6,200025,201328.2,202582.3,203613,205553.4,208142.8,210849.5,212534.2,214865.7
12,부산,37867.1,38336.9,38584.3,38769.2,39157.4,39536.2,39877.4,40166,40344.3,...,46374.5,46506.4,46362.4,46556.2,46843.2,47355.8,48123.6,48657.7,49578.3,50243.1
13,대구,25711.3,25783.5,25843.4,25984.1,26061,25978.4,26019.3,25912.8,25924,...,28429.1,28633.5,28724.6,29016.9,29009.9,29132.3,29399.2,29733.6,30355.7,30514.7
14,인천,34528.8,34690.9,34972.9,35210.9,35638,35784.7,36190,36385.6,36967.8,...,41436.7,41738.6,41995.7,42001.7,42132.2,42790.1,43039.7,43335.4,43690.7,44009.7
15,광주,13398.9,13359,13424.9,13388.6,13428.4,13440.8,13414.7,13554.7,13671.8,...,16123.5,16291.1,16585.7,16482.2,16801.8,16886.7,17076.7,17169.7,17488.1,17714.6
16,대전,14045,14109,14152.7,14040.6,14126.4,14160.8,14262,14278.1,14443.5,...,15518,15700.1,15704.7,15762.9,15894,15927.6,16124,16311.6,16423.5,16589.2
17,울산,11109.6,11237,11243.2,11315.7,11495.7,11562.5,11675.8,11739.6,11692.5,...,11131,11145.3,11086.8,11062.8,11011.7,11019.4,11051.4,11125.4,11170.9,11232.9
18,세종,4252.2,4242.7,4351,4319.2,4401.8,4534,4618.9,4587.9,4560.9,...,5228.5,5209.7,5224.8,5339.6,5306.3,5325,5301.5,5365.5,5351.8,5341.4
19,경기,141382.7,141980.8,142877.4,143953.9,144999.5,146152.5,146637.2,146988.1,149153.3,...,175629.9,177450.3,177945.7,178601.2,179003.9,180816.2,181814.5,183295.2,184525.9,185633.8
20,강원,6519.1,6538.6,6624.7,6699.1,6784.7,6867.7,6949.7,7065.9,7124,...,8814.1,8872.8,8858.5,8861.9,8814.7,8736.9,8839.2,8884.1,8930.3,8980.4
21,충북,9116.5,9099.7,9136.7,9146.9,9173.3,9263.7,9227.6,9246,9303.4,...,9676.7,9692.6,9627.9,9647,9553.1,9473.6,9585.6,9557.2,9656,9671.9
22,충남,14502.8,14443.4,14488.3,14486.3,14398.2,14366.4,14379.1,14280.2,14241.2,...,13897.1,13888.1,14050.5,14115.9,14035.4,14062.8,14089.9,14182.8,14280.3,14427.8
23,전북,10167.6,10202.4,10291.8,10381.1,10397.1,10468.6,10567.2,10673.6,10681.6,...,11111.8,11182.4,11160.9,11113.2,11080.8,11016,11165.2,11221.3,11239.9,11301.5
24,전남,7484.5,7477.7,7541,7561.1,7604.8,7710.3,7774.2,7794.9,7818.3,...,9006.7,9125,9227.2,9240.2,9262.8,9320,9449.3,9510.6,9747.9,9970.9
25,경북,16254.1,16343.6,16403.5,16453.7,16482.8,16443.9,16461,16561,16495.1,...,15994.1,15989.9,15839.6,15684.6,15677.2,15640.5,15596.5,15637.7,15761.5,15865.6
26,경남,27697.3,27836.7,28088.4,28115.8,28151.4,28349.5,28333.1,28229.5,28274,...,27850,27863.6,27802.2,27569.7,27499.6,27511.2,27663.4,27795.2,27902.9,28193.4
27,제주,4144.4,4212.2,4291.1,4341.9,4390,4476.9,4488.6,4518.5,4554.9,...,5088.9,5078.6,5062.2,4999.4,4989.3,5025.9,5033.6,5043.8,5056.6,5085.1

In [3]:
df2 = df1.drop(10)
df2

,주택대출,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48
9,2017년 01월,2017년 02월,2017년 03월,2017년 04월,2017년 05월,2017년 06월,2017년 07월,2017년 08월,2017년 09월,2017년 10월,...,2020년 03월,2020년 04월,2020년 05월,2020년 06월,2020년 07월,2020년 08월,2020년 09월,2020년 10월,2020년 11월,2020년 12월
11,167698.8,167852,168377.3,169036.1,169838.4,171044.5,172570.4,174607.2,174828.7,175427.9,...,198287.6,200025,201328.2,202582.3,203613,205553.4,208142.8,210849.5,212534.2,214865.7

In [4]:
df2.rename(index = {9: '년월', 11: '주택대출(10억원)'} , inplace = True)

In [5]:
df2.to_csv(r'./fin_data/주택대출.csv', index = True, header = False)